body {
  font-family: 'Arimo', sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  background: none;
  cursor: pointer;
  color: tomato;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  position: relative;
  bottom: 3px;
}

li {
  display: flex;
  justify-content: space-between;
  animation: .6s fadeIn; 
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  max-width: 100%;
}

li.checked {
  color: #888;
}

li.checked .todo-content {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

.content-wrapper {
  display: flex;
  width: 80%;
}

.todo-content {
  top: 2px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  padding: 0 0 0 10px;
  margin: 0;
}
.added {
  color: grey;
  font-size: 11px;
}
.show-text {
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}

header .hide-completed {
  float: right;
}
.toggle-private {
  background: tomato;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px 10px;
}
.public {
  background: #4BB543;
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@media (max-width: 600px) {
  .content-wrapper {
    width: 65%;
  }
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}